
/*ESTILO GERAL*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    /* FONTE GOOGLE */
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: auto;
}
.flex{
    display: flex;
}
.btn-contato button{ 
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff7514;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition:.2s;
}
h2.titulo{
    color: #fff;
    font-size: 30px;
    text-align: center;   
}
h2.titulo span{
    color: #ff7514;
}
button:hover{
    box-shadow: 0px 0px 10px #ff755f;
    transform: scale(1.05);
}


/* ESTILO CABEÇALHO */
header{
    padding: 40PX 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    color: #838383;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 0px  #ff755f;
    transform: scale(1.05);
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}
section.topo-do-site{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: #fff;
    font-size: 40px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color: #ff7514;
}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}
.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO ESPECILIADADES */

section.especiliadades{
    padding: 40px 4%;
}
section.especiliadades .flex{
    gap: 60px;
}
.especiliadades .especialidades-box{
    color: #fff ;
    padding: 45px;
    border-radius: 25px;
    margin-top: 45px;
    transition: .2s;
}
.especiliadades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px #ffffff6c;
}
.especiliadades .especialidades-box i{
    font-size: 70px;
    color: #ff7514;
}
.especiliadades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
/* ESTILO SOBRE*/
section.sobre{
    padding: 80px 4%;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: #fff;
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-break: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: #ff7514;
    display: block;
}
.sobre .txt-sobre p{
    margin: 30px 0;
    text-align: justify;
}
.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border: 0;
    background-color: #ff7514;
    font-size: 25px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}
